.inputContainer{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}
.iconContainer{
    color:purple !important;
}
.iconContainer svg{
    margin-top: 20px;
    font-size: 30px;
}